body {
	background: #d1d1d1;
	color: #1d1b1b;
	font-size: 2em;
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	padding: 5%;
	word-wrap: break-word;

}

a, a:hover {
	color: #1d1b1b;

}

a:hover {
	text-decoration: line-through;
	text-decoration-color: white;
}


.logo {
	width: 250px;
	height: 250px;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.WalletInfo {
	width: 500px;
}

.Block {
	border: 1px solid #1d1b1b;
	padding: 5%;
	margin: 2%;

}

.Transaction {
	padding: 5%;
}

.ConductTransaction, .TransactionPool {
	margin: 10%;
}




/*Glitch Effect*/


.sideGlitch {
  position: relative;
  color: #black;
  font-family: 'Inconsolata', monospace;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.sideGlitch::before, .sideGlitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #e7e7e7 ;
  color: black;
  clip: rect(0, 900px, 0, 0);
}
.sideGlitch::before {
  left: 700px;
  /*text-shadow: 10px 0 #bfebf1;*/
  animation: glitch-effect 1s infinite linear alternate-reverse;
}
.sideGlitch::after {
  right: 30px;
  /*text-shadow: -10px 0 #ffadd8;*/
  animation: glitch-effect 1s infinite linear alternate-reverse;
}

 .glitch {
  position: relative;

  margin: 35% auto;
  /*color: lightslategray;*/
  color: white;
  font-size: 10em;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: black ;
  color: white;
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  left: 700px;
  /*text-shadow: 10px 0 #bfebf1;*/
  animation: glitch-effect 1s infinite linear alternate-reverse;
}
.glitch::after {
  right: 30px;
  /*text-shadow: -10px 0 #ffadd8;*/
  animation: glitch-effect 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(57px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(16px, 9999px, 12px, 0);
  }
  10% {
    clip: rect(87px, 9999px, 71px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 56px, 0);
  }
  20% {
    clip: rect(49px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 73px, 0);
  }
  30% {
    clip: rect(84px, 9999px, 100px, 0);
  }
  35% {
    clip: rect(95px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(62px, 9999px, 29px, 0);
  }
  45% {
    clip: rect(11px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(97px, 9999px, 68px, 0);
  }
  60% {
    clip: rect(34px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 26px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 37px, 0);
  }
  75% {
    clip: rect(56px, 9999px, 24px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 76px, 0);
  }
  85% {
    clip: rect(59px, 9999px, 1px, 0);
  }
  90% {
    clip: rect(4px, 9999px, 69px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 74px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(57px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(16px, 9999px, 12px, 0);
  }
  10% {
    clip: rect(87px, 9999px, 71px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 56px, 0);
  }
  20% {
    clip: rect(49px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 73px, 0);
  }
  30% {
    clip: rect(84px, 9999px, 100px, 0);
  }
  35% {
    clip: rect(95px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(62px, 9999px, 29px, 0);
  }
  45% {
    clip: rect(11px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(97px, 9999px, 68px, 0);
  }
  60% {
    clip: rect(34px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 26px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 37px, 0);
  }
  75% {
    clip: rect(56px, 9999px, 24px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 76px, 0);
  }
  85% {
    clip: rect(59px, 9999px, 1px, 0);
  }
  90% {
    clip: rect(4px, 9999px, 69px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(92px, 9999px, 74px, 0);
  }
}

.glitch a:hover {
  color: #adffb6;
  cursor: url('https://img.icons8.com/ios/30/000000/source-code.png'), pointer;
}