body {
	background: #d1d1d1;
	color: #1d1b1b;
	font-size: 2em;
	text-align: left;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	padding: 5%;
	word-wrap: break-word;

}

a, a:hover {
	color: #1d1b1b;

}

a:hover {
	text-decoration: line-through;
	text-decoration-color: white;
}


.logo {
	width: 250px;
	height: 250px;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.WalletInfo {
	width: 500px;
}

.Block {
	border: 1px solid #1d1b1b;
	padding: 5%;
	margin: 2%;

}

.Transaction {
	padding: 5%;
}

.ConductTransaction, .TransactionPool {
	margin: 10%;
}